{% extends 'site/base4.html' %}

{% load static %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block content  %}

<!-- parallax home page  -->

<div class="slider">
    <ul class="slides">
      <li>

        <img class="opa" src="{% static 'img/bg.jpg' %}">

       <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text black-text  lighten-1"><b>Urban Africa</b></h3>
          <h5 class="black-text black-text  lighten-1"><b>Urban Africa Zambia</b></h5>
        </div>
      </li>
    </ul>
</div>




<!-- About us  -->

<div class="container center-align">
 <div id= "aboutus" class="section">
    <div class="row">
    <div class="col s12">
      <h4>About Us</h4>
      <p class="light center-align">
    ERES Converge is the only private IRB currently registered in Zambia. It is
    registered with the Office of Register of Companies in Lusaka Zambia.
      </p>


      <p class="light center-align">
        <a href="{% url 'about' %}">  <button class="btn light-blue darken-1" >Read More</button><br></a>

      </p>




    </div>
  </div>
  </div>
</div>

<!-- About us end -->

<!-- banner  -->
<div class="parallax-container center valign-wrapper">
  <div class="parallax">
    <div class="opacities">
      <img  src="{% static 'img/s4.jpg' %}" width="50%">
    </div>

  </div>

  <div class="container white-text">
    <div class="row">
      <div class="col s12">
        <h5>Commercial property development, primarily supermarket-led convenience retail and building supply stores</h5>
      </div>
    </div>
  </div>
</div>
<!-- end banner -->

<!-- Guidelines  -->

<div class="container center-align">
 <div id= "aboutus" class="section">
    <div class="row">
    <div class="col s12">
      <h4>Do they follow National / International Guidelines?</h4>


      <p class="light left-align">
      ERES Converge IRB is accredited to the Office for Protection of Human Research Participants (OHRP) in the United States of America and so have an IRB number and a Federal Wide Assurance
       (FWA) number. As indicated above ERES Converge is registered as a Limited Company and has a Board of Directors.  It is locally accredited to the National Health Research Ethics Committee in the Zambia’s Ministry of Health which accredits all Research Ethics Committees and or IRBs in the country. The committee adheres to regulations as outlined in the Declaration of Helsinki, the Belmont Report, CIOMS and the International Guidelines for Biomedical Research. ERES Converge adheres strictly to International Standards of Good Clinical Practice.

      </p>

    </div>
  </div>
  </div>
</div>

<!-- About us end -->

<!-- banner  -->
<div class="parallax-container center valign-wrapper">
  <div class="parallax">
    <div class="opacities">
      <img  src="{% static 'img/s4.jpg' %}" width="50%">
    </div>

  </div>

  <div class="container white-text">
    <div class="row">
      <div class="col s12">
        <h5>Commercial property development, primarily supermarket-led convenience retail and building supply stores</h5>
      </div>
    </div>
  </div>
</div>
<!-- end banner -->


    <div class="container center-align">
     <div id="contact" class="section">
        <div class="row">
        <div class="col s12">
          <h4>Contact Us</h4>
          <p class="light center-align">
            Office : +260 955 155633 | +260 955 155634
          </p>
          <p class="light center-align">
            <a href="mailto:contactus@eresconverge.org">Email</a>
          </p>
          <p class="light center-align">
            Address: Plot No. 1 Cnr. Great East Road  Joseph Mwilwa Road | Rhodes Park Lusaka - Zambia.
          </p>
        </div>
      </div>
      </div>
    </div>


    <section class="map" id="directions">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3846.433394085963!2d28.295834531046953!3d-15.40714262983941!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1469006944640" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>


{% endblock %}
