{% extends 'site/base2.html' %}

{% block content %}

    <header class="masthead">
        <div class="header-content">
              <div class="container">
                <!-- Example row of columns -->
                <div class="section-content">
          				<h1 class="section-header">Hi, Welcome to the  <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">About Us!</span></h1>
                    <a href="#contacts">  <button class="btn btn-primary" >Read More</button></a>
                </div>

              </div> <!-- /container -->

            </div>

    </header>
    <!-- About Section -->
    <!-- About Section -->
    <section  id="contacts" id="about" >
    			<div class="section-content">
    				<h1 class="section-header">About <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">us!</span></h1>
    			</div>
    			<div class="contact-section">
    			<div class="container">

            <h3 class="section-content">ERES CONVERGE IRB</h3>
            <hr class="underline">
            <p class="text-faded">
            ERES Converge is the only private IRB currently registered in Zambia. It is registered with the Office of Register of Companies in Lusaka Zambia.
            </p>

            <h3 class="section-content">Do they follow national/international guidelines?</h3>
            <hr class="underline">
            <p class="text-faded">
               ERES Converge IRB is accredited to the Office for Protection of Human Research Participants (OHRP) in the United States of America and so have an IRB number and a Federal Wide Assurance (FWA) number. As indicated above ERES Converge is registered as a Limited Company and has a Board of Directors.  It is locally accredited to the National Health Research Ethics Committee in the Zambia’s Ministry of Health which accredits all Research Ethics Committees and or IRBs in the country. The committee adheres to regulations as outlined in the Declaration of Helsinki, the Belmont Report, CIOMS and the International Guidelines for Biomedical Research. ERES Converge adheres strictly to International Standards of Good Clinical Practice.
            </p>
    			</div>
        </div>
    		</section>

<br>

       <!-- Services Section -->


       <section  id="contacts" id="about" >
             <div class="section-content">
               <h1 class="section-header">Eres Converge<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Fees</span></h1>
             </div>
             <div class="contact-section">
             <div class="container">

               <h3 class="section-content">Review Fees</h3>
               <hr class="underline">
               <ul class="text-faded">
                       <li>Expedited/ Fast track reviews - 4,000</li>
                       <li>Ordinary Review - 3,000</li>
                       <li>Extension of study period (renewal) - 1,200</li>
                       <li>Amendment to research proposal - 1,000</li>
                       <li>Penalty on late submissions of reports - 500</li>
               </ul>

               <h3 class="section-content">Student Fees</h3>
               <hr class="underline">
               <ul class = "text-faded">
                  <li>Expedited / Fast track - 4,000</li>
                  <li>Ordinary - 1,000</li>
                  <li>Amendment for Students - Free</li>
               </ul>
             </div>
           </div>
           </section>

<section>
</section>


           <footer class="sticky-footer">
             <div class="container">
               <div class="text-center">
                 <small>Copyright © Joshua.Z.Chipile 2017</small>
               </div>
             </div>
             <a class="scroll-to-top rounded" href="#page-top">
               <i class="fa fa-angle-up"></i>
             </a>
         </footer>
{% endblock %}
