{% load staticfiles %}
<html>
    <head>
        <title>Eres site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
       <h1><a href="/">Eres Converge</a></h1>
   </div>
   <div class="content container">
     <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
       <div class="row">
           <div class="col-md-8">

             {% block content %}
       <div class="post">
           {% if post.published_date %}
               <div class="date">
                   {{ post.published_date }}
               </div>
           {% endif %}
           
           <h1>{{ post.title }}</h1>
           <p>{{ post.text|linebreaksbr }}</p>
       </div>

       {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

   {% endblock %}


           </div>
       </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
       {% block javascript %}
       <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
       <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
       <script src="{% static 'js/jquery.fileupload.js' %}"></script>
       <script src="{% static 'js/basic-upload.js' %}"></script>
        {% endblock %}
   </div>
    </body>
</html>
