{% extends 'site/base2.html' %}

{% block content %}

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <div class="animated fadeInUp" id="title_header">
                    Notice Board
                    <h2>All Announcement</h2>
		    <section id="noticeboard" class="demo">
  		      <a href="#notice"><span></span>Scroll Down</a>
		    </section>
                </div>

            </div>
        </div>
    </header>

 <!-- Main jumbotron for a primary marketing message or call to action -->
<section id="notice">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome, {{user.username}}!</h1>
        <p>Welcome to Eres Converge Notice Board section. Here you will find the lastest information</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% for post in posts %}
        <div class="col-md-4">
          <h2>{{post.author}}</h2>
          <h3>{{post.title}}</h3>
          <a href="{% url 'post_detail' pk=post.pk %}">Read more</a>
           <p>{{post.published_date }}</p>
        </div>
        {% endfor %}

      </div>


    </div> <!-- /container -->
</section>

    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Joshua.Z.Chipile 2017</small>
        </div>
      </div>
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
  </footer>

{% endblock %}
