{% extends 'site/base3.html' %}

{% block content %}

 <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{user.username}}</li>
      </ol>




<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Document</th>
      <th>Date</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    {% for photo in photos %}
      <tr>
        <td>{{ photo.file.name }}</td>
	<td>{{photo.uploaded_at}}</td>
	<td><a href="{{ photo.file.url }}">Download</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock  %}
