{% extends 'site/base2.html' %}



{% block content %}

<button type="button" class="btn btn-primary js-upload-photos">
  <span class="glyphicon glyphicon-cloud-upload"></span>Upload photos
</button>


<input id="fileupload" type="file" name="file" multiple
       style="display: none;"
       data-url="{% url 'upload' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>


<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    {% for photo in photos %}
      <tr>
        <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock  %}
