{% extends 'site/base4.html' %}

{% block content %}

              <div class="container" id="posts">
                    <h1 class="section-header">Author: {{ post.author }}</h1>
                    <h2>Title: {{ post.title }}</h2>
                    <p>Post :{{ post.text|linebreaksbr }}</p>
                    {% if post.published_date %}
                        <div class="date">
                            Date published date : {{ post.published_date }}
                        </div>
                    {% endif %}
            </div>


{% endblock %}
