{% extends 'site/base2.html' %}

{% block content %}
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="animated fadeInUp" id="title_header">
                ERES CONVERGE IRB
                <h2>RESEARCH ETHICS</h2>
            </div>
            <section id="noticeboard" class="demo">
               <a href="#posts"><span></span>Read post</a>
           </section>
        </div>
    </div>
</header>

<section  id="contacts">

              <div class="container" id="posts">
                    <h1 class="section-header">Author: {{ post.author }}</h1>
                    <h2>Title: {{ post.title }}</h2>
                    <p>Post :{{ post.text|linebreaksbr }}</p>
                    {% if post.published_date %}
                        <div class="date">
                            Date published date : {{ post.published_date }}
                        </div>
                    {% endif %}
            </div>
</section>

<section>
</section>


  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Joshua.Z.Chipile 2017</small>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
</footer>
{% endblock %}
